.video-hero-section {
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

/* Video layer */
.video-hero-background {
  position: absolute;
  inset: 0;
  height: 60vh;
  z-index: 1;
}

.video-hero-bg {
  width: 100vw;       /* FULL viewport width */
  height: 100%;
  object-fit: cover;
}



/* Content */
.video-hero-content {
  position: relative;
  z-index: 3;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  color: white;
}

.video-hero-inner {
  max-width: 600px;
}

.video-hero-subtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
  opacity: 0.9;
}

.video-hero-title {
  font-size: 3.5rem;
  margin: 1rem 0;
}

.video-hero-description {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  opacity: 0.95;
}

.video-hero-buttons {
  display: flex;
  gap: 1rem;
}

.video-hero-btn {
  padding: 0.8rem 1.6rem;
  border-radius: 30px;
  background: #c9a24d;
  color: #000;
  text-decoration: none;
  font-weight: 600;
}
